Repository dbt-msft/dbt-sqlserver, pull requests merged in 2023-05, with the labels that each got.

#350 Copy for workflow schtuff
  .github/workflows/integration-tests-azure.yml
  .github/workflows/integration-tests-sqlserver.yml
  .github/workflows/publish-docker.yml
  .github/workflows/unit-tests.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  dbt/adapters/sqlserver/__version__.py
  dbt/adapters/sqlserver/sql_server_connection_manager.py
  dbt/include/sqlserver/macros/adapters/freshness.sql
  dbt/include/sqlserver/macros/materializations/models/incremental/merge.sql
  dbt/include/sqlserver/macros/materializations/snapshots/strategies.sql
  dbt/include/sqlserver/macros/utils/timestamps.sql
  dev_requirements.txt
  setup.py
  tests/functional/adapter/test_timestamps.py
Labels: safe to test

#355 credit where due
  CHANGELOG.md
  tests/functional/adapter/test_provision_users.py
Labels: safe to test

#204 Add nolock
  dbt/include/sqlserver/macros/adapters/metadata.sql
Labels: bugfix, safe to test

#202 Remove extra __init__.py
  .pre-commit-config.yaml
  dbt/__init__.py
  dbt/adapters/__init__.py
  dbt/include/__init__.py
Labels: chore
